<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="TargetPath" value="C:\User_DB_Backup\"/>
    <add key="SourcePath" value="C:\TFS_Sud\BoneXpert\Software\Products\BoneXpert\WebSite\BoneXpertWS\App_Data"/>
    <add key="NotificationReceiver" value="kannan@visiana.com"/>
    <add key="wait.interval" value="60"/>
    <add key="WebsiteName" value="BoneXpertWS"/>
    <add key="TimeToRun" value="4/26/2017 11:56:59 PM"/>
    <add key="SecondaryServerURL" value="http://license2.bonexpert.com/BoneXpertV/VisianaAdministrationModule.asmx"/>
  </appSettings>
</configuration>
